{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div style="height: 100vh;" class="d-flex justify-content-center align-items-center">
        <h1>4MATION</h1>
    </div>
{% endblock %}
