{% extends 'calendar/calendar.base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body>
    <div class="container" style="max-width: 600px">
        <div class="card">
            <div id="calendar-holder"></div>
        </div>
    </div>
    </body>

{% endblock %}


