{% extends 'base/main_template.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{% include  'calendar/calendar.dependency.html.twig' %}
{% endblock %}


{% block content %}

	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="d-flex  pt-3 pb-2 mb-3 border-bottom">
			<div class="card">
				<div id="calendar-holder"></div>
			</div>

			<div class="card-creneau" style="flex: 1;">
				<div class="card-body">
					<h5 class="card-title">Détails du créneau</h5>
					<div class="position-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<span
									class="nav-link">

									<!-- https://feathericons.dev/?search=book-open&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/>
										<path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/>
									</svg>


									Module de formation :
									<span id="event-title"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=clock&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<circle cx="12" cy="12" r="10"/>
										<polyline points="12 6 12 12 16 14"/>
									</svg>

									Heure de début :
									<span id="event-start"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=clock&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<circle cx="12" cy="12" r="10"/>
										<polyline points="12 6 12 12 16 14"/>
									</svg>

									Heure de fin :
									<span id="event-end"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=home&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
										<polyline points="9 22 9 12 15 12 15 22"/>
									</svg>

									Salle :
									<span id="event-salle"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=users&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/>
										<circle cx="9" cy="7" r="4"/>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"/>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"/>
									</svg>

									Groupe promotion :
									<span id="event-promoGroup"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=square&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<rect height="18" rx="2" ry="2" width="18" x="3" y="3"/>
									</svg>

									Campus :
									<span id="event-campus"></span>
								</p>
							</li>
							<li class="nav-item">
								<span
									class="nav-link">
									<!-- https://feathericons.dev/?search=map-pin&iconset=feather -->
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/>
										<circle cx="12" cy="10" r="3"/>
									</svg>

									Adresse :
									<span id="event-address"></span>
								</p>
							</li>

						</ul>
					</div>

				</div>
			</main>
		{% endblock %}
