
.bg-primaire{
  background-color: #553CA3 !important;
  border: 1px solid #553CA3 !important
}

.fc-button-primary {
  background-color: #553CA3 !important;
  border: 1px solid #553CA3 !important;
  box-shadow: none !important;
}

.fc-button-primary:hover {
  box-shadow: none !important;
}

.fc-list-day-text, .fc-list-day-side-text{
  color: #9EBC36 !important;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.fc-event-title-container, .fc-event-time, .fc-event{
  background-color: #9EBC36!important;
  border-color: #9EBC36!important;
}

.fc-event-main:hover *  {
  background-color: #553CA3 !important; /* Changer la couleur de fond en rouge pour tous les enfants de .fc-event-main-frame lorsque .fc-event-main est survolé */
  border-color: #553CA3 !important;
}

.fc .fc-list-event:hover td{
  background-color: #553CA3 !important;
  color: white;
}
.fc-button-active,
.fc-daygrid-day-number{
  color: #9EBC36 !important;
  box-shadow: none !important;


}

.fc-toolbar-title{
  color: #553ca3 !important;
  text-transform: uppercase;
}

.fc-daygrid-day-number{
text-decoration: none;
  font-weight: bold;

}

.fc-day-today{
  background-color: #563ca321!important
}

.fc-scrollgrid-sync-inner:has(.fc-col-header-cell-cushion), .fc-col-header-cell-cushion  {
  color:white !important;
  background-color: #553ca3 !important;
  text-decoration: none;
}

.fc-daygrid-week-number{
  text-decoration: none !important;
  color: #553CA3 !important;
}

.primaire{
  color: #553CA3 !important;
}

.primaire{
  color: #553CA3 !important;
}

.fc-event-title, .fc-event-time {
  color: white!important;
}
 .fc-daygrid-event-dot{
  border-color: white;}

.bg-primaire:hover{
  background-color: black ;
  border: 1px solid black;
}

.nav-link {
  color: white!important;
}

.nav-link:hover, .fc-button-primary:hover {
  color: #9EBC36!important;
}

.active {
  color: #9EBC36!important;
}

.navbar {
  background-color: #553CA3 !important;}

