
.bg-primaire{
  background-color: #553CA3 !important;
  border: 1px solid #553CA3 !important
}

.primaire{
  color: #553CA3 !important;
}

.primaire{
  color: #553CA3 !important;
}


.bg-primaire:hover{
  background-color: black ;
  border: 1px solid black;
}

.nav-link {
  color: white!important;
}

.nav-link:hover {
  color: #9EBC36!important;
}

.active {
  color: #9EBC36!important;
}

.navbar {
  background-color: #553CA3 !important;}

  
